.window {
    border-color: rgb(48, 61, 47);
    border-style: solid;
    border-width: 0.2rem;
    box-sizing: border-box;
    overflow: auto;
}

.navbar {
    border-color: rgb(48, 61, 47);
    border-style: solid;
    border-width: 0.2rem;
    max-width: fit-content;
}

.navbar li:hover {
    cursor: pointer;
}